* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h2 {
  text-align: center;
  font-size: 200%;
  font-weight: 700;
}

.modal1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  width: 450px;
  padding: 1.3rem;
  max-height: 300px;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 40%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal1 input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  width: 100%;
}



.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  top: 30px;
  right: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

#submit {
  float: right;
}

/* modal form media query for buttons to stack as columns */

@media (max-width: 1366px) {
  .button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .button-container button {
    margin-right: 0;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 10px;
  }
  }
  
  /* modal form styling */

.formbox {
  background-color: rgb(0, 209, 178);
  padding: 1.25rem;
  border-radius: 0.5rem;
}

  #h3 {
    text-align: center;
    margin-bottom: 0.75rem;
    color: black;
    font-weight: 400;
    }

  #submit, #viewInt {
    color: white;
    background-color: black;
    padding: 0.3rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
  }

  /* the below will not work on mobile */
  #submit:hover, #viewInt:hover {
    background-color: rgb(245, 225, 35);
  }